import streamlit as st
import yfinance as yf
import pandas as pd
import cufflinks as cf
import datetime
import json
import requests  
from streamlit_lottie import st_lottie 
from PIL import Image
from multiapp import MultiApp
from apps import stockwatchlist, binance, contact_form
streamlit